Port 2222
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::
Protocol 2
LogLevel INFO
HostKey /etc/sshd/keys/ssh_host_rsa_key
HostKey /etc/sshd/keys/ssh_host_dsa_key
HostKey /etc/sshd/keys/ssh_host_ecdsa_key
HostKey /etc/sshd/keys/ssh_host_ed25519_key
PermitRootLogin no
AuthorizedKeysFile	~/.ssh/authorized_keys
PasswordAuthentication no
UsePrivilegeSeparation no
PermitUserEnvironment yes