<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Config>
	<BindAddress>*</BindAddress>
	<Port>8989</Port>
	<SslPort>9898</SslPort>
	<EnableSsl>False</EnableSsl>
	<LaunchBrowser>True</LaunchBrowser>
	<ApiKey>7b0488027a1c4b9cb121018d3941cd5a</ApiKey>
	<AuthenticationEnabled>False</AuthenticationEnabled>
	<Branch>master</Branch>
	<Username></Username>
	<Password></Password>
	<LogLevel>Info</LogLevel>
	<SslCertHash></SslCertHash>
	<UrlBase><webroot></UrlBase>
	<UpdateMechanism>BuiltIn</UpdateMechanism>
</Config>
